.flash {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  border-radius: 4px;
}

.flash-notice {
  background-color: gray;
}

.flash-alert {
  background-color: red;
}

.fields {
  margin: 4px 0px;
}

.field_with_errors {
  display: inline-block;

  label {
    color: red;
  }

  input[type="text"],
  textarea {
    border: 1px solid red;
  }
}

nav.navbar {
  display: flex;
  background-color: white;
  color: black;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px dotted gray;

  .brand {
    font-size: 1.2em;
  }

  .actions {
    display: flex;
    align-items: center;

    li {
      display: flex;
      align-items: center;
      margin-right: 4px;
      margin-left: 4px;
    }
  }
}
