<h1>新增履歷</h1>

<form action="/" method="post">
  <div>
    <input type="text" name="title" />
  </div>

  <div>
    內文
    <textarea name="content"></textarea>
  </div>
  <input type="submit" value="新增" />
</form>
